@import url("/home/tor/.cache/wal/colors-waybar.css");

* {
    border-radius: 0;
    font-family: 'SFUI Nerd Font Text SemiBold';
    font-size: 12pt;
    min-height: 0;
	color: @color4;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}
tooltip {
	background: #FFFFFF;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #a4b9ef;
	}

#workspaces {
    background: @background;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px 0px 15px 15px;
}

#workspaces button {
	margin-left: 2px;
	margin-right: 2px;
    min-width: 0;
    color: @foreground;
	background-color: @background;
	border-radius: 15px;
}

#workspaces button.focused {
    color: #A4B9EF;
}

#workspaces button.urgent {
    color: #F9C096;
}

#workspaces button:hover {
    background: @foreground;
    border-color: #332e41;
	color: @foreground;
	border-radius: 15px;
}

#clock, #battery, #pulseaudio, #workspaces, #mpd, #window {
	padding: 2px 10px;
    background: alpha(@background, 1.0);
    margin-top: 0px;
    margin-bottom: 5px;
	padding-bottom: 5px;
}

#pulseaudio {
    border-radius: 0px 0px 15px 0px;
	padding-right: 10px;
}

#network {
    padding-left: 2px;
    padding-bottom: 5px;
    padding-right: 0px;
    background: alpha(@background, 1.0);
    border-radius: 0px 0px 0px 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 0px;
}

#custom-vpn {
    background: #332E41;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#clock {
    padding-right: 5px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
}

#battery {
	border-radius: 0px 0px 0px 15px;
	padding-left: 10px;
}

#custom-spotify {
    background: #332E41;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 15px;
}
