@import url("/home/tor/.cache/wal/colors-waybar.css");

* {
    border-radius: 5px;
	/* border-width: 2px; */
	/* border-style: solid; */
	/* border-color: @background; */
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 12pt;
    min-height: 0;
	color: @color4;
}

window#waybar {
	background: alpha(@color3, 0);
}
tooltip {
	background: #FFFFFF;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: #a4b9ef;
	}

#workspaces {
    background: @color3;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding-top: 0px;
    margin-bottom: 5px;
    border-radius: 5px 5px 5px 5px;
}

#workspaces button {
	margin-left: 2px;
	margin-right: 2px;
    min-width: 0;
    color: @foreground;
	background-color: @color3;
	border-radius: 5px;
}

#workspaces button.focused {
    color: #A4B9EF;
}

#workspaces button.urgent {
    color: #F9C096;
}

#workspaces button:hover {
    background: @color1;
    border-color: @color3;
	color: @foreground;
	border-radius: 5px;
}

#clock, #battery, #pulseaudio, #mpd, #window {
	padding: 2px 10px;
    background: alpha(@color1, 1.0);
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
	padding-bottom: 5px;
}

#pulseaudio {
    border-radius: 0px 5px 5px 0px;
	padding-right: 10px;
	margin-right: 5px;
}

#network {
    padding-left: 2px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 0px;
    background: alpha(@color1, 1.0);
    border-radius: 5px 0px 0px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 5px;
}

#custom-vpn {
    background: #332E41;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#clock {
    padding-right: 5px;
    margin-right: 5px;
    border-radius: 0px 5px 5px 0px;
}

#battery {
	border-radius: 5px 0px 0px 5px;
	padding-left: 10px;
}

